/* css Login */
body {
    background-color: #222629;
}

.main {
    background-color: #555151;
    width: 400px;
    height: 500px;
    margin: auto;
    border: 3px solid #DAF7A6;
    margin-top: 50px;
}

.login {
    padding-top: 40px;
    color: #DAF7A6;
    font-weight: bold;
    font-size: 23px;
}
.sign {
    padding-top: 40px;
    color: #DAF7A6;
    font-weight: bold;
    font-size: 23px;
}


.un {
    width: 76%;
    color: #222629;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    background: #555151;
    padding: 10px 20px;
    border-bottom: 2px solid #DAF7A6;
    margin-left: 46px;
    margin-bottom: 27px;
}

form.form1 {
    padding-top: 40px;
}

.pass {
    width: 76%;
    color: #222629;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    background: #555151;
    padding: 10px 20px;
    border-bottom: 2px solid #DAF7A6;
    margin-left: 46px;
    margin-bottom: 27px;
}


.btn1 {
    cursor: pointer;
    border-radius: 5em;
    color: #222629;
    background: #DAF7A6;
    border: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 35%;
    font-size: 13px;
}

.btn2 {
    cursor: pointer;
    border-radius: 5em;
    color: #222629;
    background: #DAF7A6;
    border: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 30%;
    font-size: 13px;
}

.noAcc {
    color: #263238;
}

a {
    color: #DAF7A6;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.error{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 10px;
    background-color: #979090;
    color: white;
    margin-bottom: 5px;
}
/* css Regjistrim: ka gjithashtu vlera te njejta me loginin ne body dhe klasen btn1, logo */

.formEle {
    padding: 16px;
}

input {
    width: 60%;
    padding: 5px;
    margin: 5px 0 13px 0;
    background: #B7C0A8;
    display: block;
    border: none;
border-bottom: 2px solid #DAF7A6;
}

.mainREG {
    background-color: #555151;
    width: 400px;
    height: 930px auto;
    margin: auto;
    border: 3px solid #DAF7A6;
    margin-top: 50px;
}

.reg {
    padding-top: 5px;
    color: #DAF7A6;
    font-weight: bold;
    font-size: 23px;
}